<h1>Your ParroTweets</h1>

<%= link_to 'New Tweet', new_tweet_path, class: 'btn btn-primary' %>

<table class="table">
   <thead>
     <tr>
       <th></th>
       <th></th>
     </tr>
   </thead>
    <% @tweets.each do |tweet| %>
   <tr>
     <td>
       <%= tweet.body %> 
     </td>
     <td>
       <%= link_to 'Delete', tweet, method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
     </td>
   </tr>
  <% end %>
</table>
