<div class="container">
  <h1 class="text-center">New ParroTweet</h1>


<%= form_for @tweet do |f| %>

  <div>
    <%= f.text_field :body, class: 'form-control' %>
  </div>

  <div class="text-center">
   <label for="german"><input name="languages[de]" type="checkbox" /> German</label>
   <label for="french"><input name="languages[fr]" type="checkbox" /> French</label>
   <label for="norwegian"><input name="languages[no]" type="checkbox" /> Norwegian</label>
   <label for="russian"><input name="languages[ru]" type="checkbox" /> Russian</label>
   <label for="arabic"><input name="languages[ar]" type="checkbox" /> Arabic</label>
  </div>

  <div class="text-center">
    <%= f.submit(class: 'btn btn-success') %>
  </div>

<% end %>
</div>
