<h1>Tweet Details</h1>


<h2>Original Tweet</h2>

<p>
  <%= @tweet.body %>
</p>


<h2>Translations</h2>
<% @children.each do |child| %>
   <h3><%= child.language %></h3>
  <p>
    <%= child.body %>
  </p>
<% end %>