<h1>About ParroTweeter</h1>


<p>
  ParroTweeter is a marketing tool aimed at increasing the social media presence of business in more than one language.
</p>


<p class="lead">By Gibson, Grice, &amp; Weiss</p>


<h2>Technologies Used</h2>
<ul>
  <li>Ruby 2.3.3</li>
  <li>Rails 5</li>
  <li>Heroku</li>
  <li>Bootstrap</li>
  <li>Google Charts API</li>
  <li>Twitter API</li>
  <li>Transltr API</li>
</ul>


<h2>Image Credits</h2>
<p><b>Logo: </b> Original by Jeff Gibson</p>
<p><b>Stock images: </b> <a href="http://www.freeimages.co.uk">FreeImages.co.uk</a></p>