/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


p.statHeader {
  text-transform: uppercase;
  font-size : 75%;
}

div.tweet {
  padding: 2rem;
  text-align: center;
  div.buttons {
    padding-top: 1rem;
  }
  margin: 0.5rem auto;
  width: 75%;
  border-radius: 2rem;
  border: 1px solid gray;
  background-color: white;
}
